.w-1\/2 {
    width: 50%;
    margin: auto;
}

.bg-red-500 {
    background-color: #F56565;
}

.mt-8 {
    margin-top: 2rem;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}