<div class="flex flex-col w-2/3 m-auto pt-12">
    <!-- Avatar, name -->
    <div class="flex items-center justify-between bg-gray-700 p-4 rounded-top text-white">
        <div class="flex items-center">
            <img class="w-24 h-24 rounded-full object-cover" src="../../assets/images/{{ user.avatar }}">
            <h2 class="px-4">{{ user.username }}</h2>        
        </div>
        <!-- social media -->
        <div>
            <a href="#" class="px-2">
                <img class="w-10 h-10 object-cover rounded-full border-white" src="../../assets/images/fb.png">
            </a>
            <a href="#" class="px-2">
                <img class="w-10 h-10 object-cover rounded-full border-white" src="../../assets/images/twitter.png">
            </a>
            <a href="#" class="px-2">
                <img class="w-10 h-10 object-cover rounded-full border-white" src="../../assets/images/instagram.jpg">
            </a>
        </div>
    </div>    
    <!-- Bio -->
    <div class="p-4 bg-gray-200">
        <div class="py-2">
            <div class="flex justify-between">
                <h4 class="font-bold py-2">Bio</h4>
                <a routerLink="/profile" class="w-4 h-4">
                    <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="#4A5568">
                        <path d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
                        </path>
                    </svg>
                </a>
            </div>
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <p>Occupation: Software Engineer</p>
                    <p>Company: RandomSoft</p>
                    <p>Location: Random, RN</p>
                </div>
                <div class="flex flex-col">
                    <p>Date of Birth: {{ user.birthdate }}</p>
                    <p>Age: {{ user.age }}</p>
                    <p>Email: {{ user.email }}</p>
                </div>
            </div>
        </div>
        <!-- About -->
        <div class="pt-12">
            <h4 class="font-bold">About</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo neque, suscipit et viverra eget, 
                malesuada et turpis. Phasellus nibh urna, maximus non lorem non, rutrum ullamcorper elit. Nullam non 
                tincidunt elit. Vivamus molestie est neque, id bibendum sem feugiat at. Duis in nibh facilisis elit 
                scelerisque elementum id sit amet mi. Cras quis finibus enim. Etiam porta, tortor sed gravida porta, 
                lacus nulla porta velit, et luctus nisl tellus non nisl. Praesent a nisl vel magna dignissim maximus. 
                Curabitur sollicitudin faucibus tortor. Proin tempus diam in dui convallis commodo. Nulla vel convallis 
                ligula, nec hendrerit massa. Nulla congue facilisis est, in interdum nulla bibendum auctor. Suspendisse 
                rutrum eget erat sit amet pellentesque. Vivamus sed pellentesque augue. Maecenas placerat nunc ac volutpat 
                dapibus.
            </p>
            <p>
                Proin ac dolor condimentum, placerat orci efficitur, maximus ipsum. Nunc vitae ipsum eget elit imperdiet 
                ullamcorper id lacinia tortor. Morbi eget aliquam lectus, in aliquet enim. Vestibulum a ipsum vitae turpis 
                condimentum tempor lacinia facilisis dolor. Maecenas sit amet gravida odio, sit amet pulvinar magna. In ante 
                nunc, euismod in quam eu, auctor accumsan velit. Quisque a urna nec ipsum molestie luctus. Donec orci risus, 
                euismod eget mattis et, sodales sit amet tortor. Quisque ut magna non eros faucibus gravida ac sed justo.
            </p>
        </div>
    </div>
</div>